.env
/Model Selection/TTS Audio Generation/microsoft_output
/Model Selection/TTS Audio Generation/coqui_output
/Model Selection/TTS Audio Generation/suno_output
*.pyc
*.wav
final_source_code/frontend/node_modules/.package-lock.json
/final_source_code/frontend/node_modules
/final_source_code/node_modules/bcrypt
/final_source_code/node_modules
final_source_code/frontend/tts_output/super-mario-galaxy-super-mario-galaxy-2-1-3-1-update-out-now/concatenated_list.txt
final_source_code/backend/tts_output/test_article_001/concatenated_list.txt
